@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url("http://fonts.cdnfonts.com/css/lato");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  font-family: "COCOGOOSE", sans-serif;
}

h1{
    color:#EC5242;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
}

h2{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

h3{
    color:#EC5242;
    font-weight: normal;
}

p{
    color: #D3D3D3;
}

.home-intro {
    display:flex;
    flex-direction: column;
    padding: 2% 3% 18%;
}

.intro-header {
    display:none
}

.home-content {
    background-color: #272a31;
}

.nav-ul-li-logo{
    display: none;
}

.nav-ul-li-hamburguer{
    display: block;
}

.nav-ul-li{
    display:none
}

.intro-container{
    margin-top: 12%;
}

.container-hello{
    color:#EC5242;
    font-size: 24px;
    margin-bottom: 1%;
}

.intro-description{
    background-color: #f8f8f8;
    color: #272a31;
    line-height: 26px;
    margin: 4% 2%;
}

.intro-foundation{
    color: #5d5e61;
}

.foundation-place{
    color: #272a31;
    font-size: 18px;
}

.home-content{
    display:flex;
    flex-direction: column;
    padding: 8% 2%;
    color: white;
}

.content-main {
    align-self: center;
    font-family: "Lato", sans-serif;
    text-transform: none;
    font-weight: bold;
    color: white;
}

.content-card {
    display: flex;
    background-color: #5e616650;
    margin: 2% 0%;
    align-items: center;
}

.card-logo{
    width: 20%;
}

.card-subject{
    width: 30%;
}
.card-description{
    width: 50%;
    padding: 2% 2% 2% 0%;
}

@media screen and (min-width: 768px) {
.about-hello {
    display:none
}
}
